beautifulsoup4
blinker
bs4
certifi
charset-normalizer
click
colorama
dnspython
Flask
idna
itsdangerous
Jinja2
lxml
MarkupSafe
PyJWT
pymongo
python-dotenv
requests
setuptools
soupsieve
urllib3
Werkzeug
