<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sweeter</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='secret.js' ) }}"></script>
  </head>
  <body>
    <section class="hero is-dark">
      <div class="hero-body has-text-centered">
        <p class="title has-text-white mb-5">Secret Page🤫</p>
        <p class="subtitle has-text-white">Hi, {{user['username']}}.👋</p>
        <p class="mb-5">Beware for the surprise😱</p>
        <div class="icon elipses">
          <i class="fa-solid fa-arrow-down fa-bounce" style="color: #fafafa"></i>
        </div>
      </div>
    </section>
    <div class="surprise-container has-text-centered mt-5">
      <button class="mb-5" onclick="handleSurprise()">⚠️⚠️⚠️⚠️</button>
      <iframe
        class="video-frame"
        id="video-frame"
        id="video-frame"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/-0txBa4_GlY?si=W3LjqKihh5YP7C0M?autoplay=1"
        title="Best Fullstack Developer Song Ever🔥"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </body>
</html>
